body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
}

input {
    outline: none;
    background-color: #fcfcfc;
    border: 1px solid #555;
}

input:focus {
    background-color: white;
}

#contentContainer {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

#leftContainer {
    width: 65%;
}

#rightContainer {
    width: 35%;
}

#messageInput {
    width: calc(100% - 0px);
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
}

#messages {
    padding: 10px;
    border: 1px solid #555;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

#message {
    word-wrap: break-word;
}

#messageUsername {
    font-weight: bold;
}

#settings {
    margin-left: 30px;
    border: 1px solid #555;
    padding: 10px;
}

#onlineUsersNumber {

}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}